Repository tsg-ut/slackbot, changes with the owners that CODEOWNERS names for each.
All owners: @hakatashi, @settyan117, @kurgm, @smallkirby, @naan4UGen, @Yosshi999, @KPCCoiL, @n4o847, @platypus999, @hideo54, @sh-mug, @satos---jp, @pizzacat83

CODEOWNERS:

# Default owner
* @hakatashi

achievement-quiz/** @settyan117
achievements/** @hakatashi
adventar/** @settyan117
ahokusa/** @kurgm
amongyou/** @smallkirby
anime/** @hakatashi
api/** @hakatashi
atcoder/** @hakatashi
atequiz/** @settyan117
better-custom-response/** @naan4UGen
bungo-quiz/** @Yosshi999
channel-notifier/** @hakatashi
character-quiz/** @hakatashi
checkin/** @hakatashi
context-free/** @KPCCoiL
dajare/** @kurgm
deploy/** @hakatashi
discord/** @hakatashi
emoji-modifier/** @KPCCoiL
emoji-notifier/** @hakatashi
emoxpand/** @KPCCoiL
golfbot/** @n4o847
hakatashi-visor/** @smallkirby
hangman/** @platypus999
hayaoshi/** @hakatashi
hitandblow/** @settyan117
kirafan/** @settyan117
lyrics/** @hideo54
mahjong/** @hakatashi
mail-hook/** @hakatashi
nmpz/** @sh-mug
nojoin/** @hakatashi
oauth/** @hakatashi
octas/** @Yosshi999
ojigineko-life/** @hakatashi
oneiromancy/** @hakatashi
oogiri/** @hakatashi
pocky/** @kurgm
ponpe/** @satos---jp
prime/** @hakatashi
pwnyaa/** @smallkirby
remember-english/** @hakatashi
ricochet-robots/** @satos---jp
room-gacha/** @hideo54
scrapbox/** @hakatashi
shmug/** @settyan117
shogi/** @hakatashi
slack-log/** @hakatashi
sorting-riddles/** @n4o847
summary/** @Yosshi999
sunrise/** @hakatashi
sushi-bot/** @hakatashi
tahoiya/** @hakatashi
taiko/** @kurgm
tiobot/** @hakatashi
topic/** @hakatashi
tsglive/** @hakatashi
tunnel/** @hakatashi
twitter-dm-notifier/** @hideo54
vocabwar/** @pizzacat83
voiperrobot/** @kurgm
welcome/** @hakatashi
wordhero/** @hakatashi
wordle-battle/** @platypus999

chore(deps): update dependencies for @discordjs/opus, @discordjs/voice, canvas, firebase-admin, googleapis, jsdom, and firebase-functions-test
  package-lock.json
  package.json
Owners: @hakatashi

Refactor ChannelLimitedBot constructor to use protected access modifier for slackClients
  achievement-quiz/index.ts
  ahokusa/index.ts
  autogen-quiz/index.ts
  lib/channelLimitedBot.ts
Owners: @settyan117, @kurgm, @hakatashi

Update wakeWordRegex to allow for additional whitespace characters
  ahokusa/index.ts
Owners: @kurgm

fix: increase NODE_OPTIONS memory limit to 8192
  .github/workflows/test.yml
Owners: @hakatashi

city-symbol: Add Zod schemas for MediaWiki responses
  city-symbol/index.ts
Owners: @hakatashi

Update city-symbol/index.ts
  city-symbol/index.ts
Owners: @hakatashi

hayaoshi: Apply review feedbacks
  hayaoshi/index.ts
  lib/slackUtils.ts
Owners: @hakatashi

Update sushi-bot/time-scoring.ts
  sushi-bot/time-scoring.ts
Owners: @hakatashi

Implement word-square
  bin/word-square-build-defs.py
  bin/word-square-build-stages.py
  index.ts
  word-square/.gitignore
  word-square/generateWordSquare.ts
  word-square/index.ts
  word-square/render.ts
Owners: @hakatashi

Better images and hints
  bin/word-square-build-defs.py
  word-square/generateWordSquare.ts
  word-square/index.ts
  word-square/render.ts
Owners: @hakatashi

Remove outdated AI assistant instructions and consolidate guidelines into AGENTS.md
  .clinerules
  .cursorrules
  .gemini/settings.json
  .windsurfrules
  AGENT.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Owners: @hakatashi

Apply suggestions from code review
  .gemini/settings.json
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Owners: @hakatashi

Add local debugging guide and CLAUDE.local.md template
  .gitignore
  AGENTS.md
  CLAUDE.local.md.example
Owners: @hakatashi

Add .claude/settings.json with Slack MCP tool permissions
  .claude/settings.json
Owners: @hakatashi

Update local debugging guide: use .logs/ for log output and document ts-node-dev hot reload
  .gitignore
  .logs/.gitkeep
  AGENTS.md
Owners: @hakatashi

AGENTS.md: Update debugging instructions to include PID output
  AGENTS.md
Owners: @hakatashi

Update kirafan/quiz.ts
  kirafan/quiz.ts
Owners: @settyan117

Add no-color option for logging and update Ngrok command
  AGENTS.md
  index.ts
  lib/logger.ts
Owners: @hakatashi

fix: update message handling to check for bot_id instead of subtype
  AGENTS.md
  atequiz/index.ts
Owners: @hakatashi, @settyan117

fix(nmpz): specify type for data in getCountryName function
  nmpz/index.ts
Owners: @sh-mug

added time and log_date_format to pm2 log
  ecosystem.config.js
Owners: @hakatashi

add ss to log_date_format
  ecosystem.config.js
Owners: @hakatashi

revise code suggested by Una
  wadokaichin/index.ts
Owners: @hakatashi

Revert "[wadokaichin] #tsgbot-games support & introduce ChannelLimitedBot"
  wadokaichin/index.ts
Owners: @hakatashi

revert unnecessary update in package-lock.json
  package-lock.json
Owners: @hakatashi

Add support for file_share events in extractMessage utility function
  ahokusa/index.ts
  auto-archiver/index.ts
  lib/channelLimitedBot.ts
  lib/slackUtils.ts
  sunrise/index.ts
Owners: @kurgm, @hakatashi

Add Google Calendar notification bot
  google-calendar/.eslintrc.json
  google-calendar/GoogleCalendar.ts
  google-calendar/calendarClient.ts
  google-calendar/index.ts
  google-calendar/types.ts
  google-calendar/views/addSubscriptionModal.ts
  google-calendar/views/eventMessages.ts
  google-calendar/views/settingsModal.ts
  index.ts
  package-lock.json
Owners: @hakatashi

Apply review feedbacks
  google-calendar/calendarClient.ts
  google-calendar/views/eventMessages.ts
Owners: @hakatashi

Add Discord event sync with Google Calendar location writeback
  .env.example
  google-calendar/GoogleCalendar.ts
  google-calendar/calendarClient.ts
  google-calendar/discordSync.ts
  google-calendar/types.ts
  google-calendar/views/eventMessages.ts
Owners: @hakatashi

Prevent Discord event URL from being written back as Discord location
  google-calendar/discordSync.ts
Owners: @hakatashi

Improve google-calendar bot: all-day skip, manual sync, hourly interval
  google-calendar/GoogleCalendar.ts
  google-calendar/index.ts
  google-calendar/views/addSubscriptionModal.ts
Owners: @hakatashi

Fix invalid_blocks error when calendar event has no description
  google-calendar/views/eventMessages.ts
Owners: @hakatashi

Add all-time-zones achievement to sushi-bot and document achievement system
  AGENTS.md
  achievements/achievements.ts
  sushi-bot/index.ts
Owners: @hakatashi

Apply review feedbacks
  achievements/achievements.ts
  sushi-bot/index.ts
Owners: @hakatashi

Improve Google Calendar event messages with event titles and localized timestamps
  google-calendar/views/eventMessages.ts
Owners: @hakatashi

google-calender: Fix lint error
  google-calendar/discordSync.ts
Owners: @hakatashi

Apply review feedbacks: extract TIMEZONE constant and use mrkdwn for event messages
  google-calendar/calendarClient.ts
  google-calendar/views/eventMessages.ts
Owners: @hakatashi

add 5kuromi 実績
  achievements/achievements.ts
Owners: @hakatashi

tahoiya: TypeScriptで完全リライト
  achievements/achievements.ts
  tahoiya/.eslintrc.json
  tahoiya/Tahoiya.ts
  tahoiya/aibot.ts
  tahoiya/bot.js
  tahoiya/gist.js
  tahoiya/index.js
  tahoiya/index.test.js
  tahoiya/index.ts
  tahoiya/init.sql
  tahoiya/initdb.sql
  tahoiya/lib.d.ts
  tahoiya/lib.js
  tahoiya/migration.ts
  tahoiya/rating.test.ts
  tahoiya/rating.ts
  tahoiya/types.ts
  tahoiya/utils.ts
  tahoiya/views/bettingModal.ts
  tahoiya/views/candidatesMessage.ts
  tahoiya/views/collectBettingsMessage.ts
  tahoiya/views/collectMeaningsMessage.ts
  tahoiya/views/dailyStatusMessage.ts
  tahoiya/views/registerThemeModal.ts
  tahoiya/views/resultsMessage.ts
  tahoiya/views/submitMeaningModal.ts
Owners: @hakatashi

sorting-riddles: tahoiya/libからtahoiya/utilsへインポート先を変更
  sorting-riddles/index.ts
  tahoiya/utils.ts
Owners: @n4o847, @hakatashi
