Repository tsg-ut/slackbot, changes with the owners that CODEOWNERS names for each.
All owners: @hakatashi, @settyan117, @kurgm, @smallkirby, @naan4UGen, @Yosshi999, @KPCCoiL, @n4o847, @platypus999, @hideo54, @sh-mug, @satos---jp, @pizzacat83

CODEOWNERS:

# Default owner
* @hakatashi

achievement-quiz/** @settyan117
achievements/** @hakatashi
adventar/** @settyan117
ahokusa/** @kurgm
amongyou/** @smallkirby
anime/** @hakatashi
api/** @hakatashi
atcoder/** @hakatashi
atequiz/** @settyan117
better-custom-response/** @naan4UGen
bungo-quiz/** @Yosshi999
channel-notifier/** @hakatashi
character-quiz/** @hakatashi
checkin/** @hakatashi
context-free/** @KPCCoiL
dajare/** @kurgm
deploy/** @hakatashi
discord/** @hakatashi
emoji-modifier/** @KPCCoiL
emoji-notifier/** @hakatashi
emoxpand/** @KPCCoiL
golfbot/** @n4o847
hakatashi-visor/** @smallkirby
hangman/** @platypus999
hayaoshi/** @hakatashi
hitandblow/** @settyan117
kirafan/** @settyan117
lyrics/** @hideo54
mahjong/** @hakatashi
mail-hook/** @hakatashi
nmpz/** @sh-mug
nojoin/** @hakatashi
oauth/** @hakatashi
octas/** @Yosshi999
ojigineko-life/** @hakatashi
oneiromancy/** @hakatashi
oogiri/** @hakatashi
pocky/** @kurgm
ponpe/** @satos---jp
prime/** @hakatashi
pwnyaa/** @smallkirby
remember-english/** @hakatashi
ricochet-robots/** @satos---jp
room-gacha/** @hideo54
scrapbox/** @hakatashi
shmug/** @settyan117
shogi/** @hakatashi
slack-log/** @hakatashi
sorting-riddles/** @n4o847
summary/** @Yosshi999
sunrise/** @hakatashi
sushi-bot/** @hakatashi
tahoiya/** @hakatashi
taiko/** @kurgm
tiobot/** @hakatashi
topic/** @hakatashi
tsglive/** @hakatashi
tunnel/** @hakatashi
twitter-dm-notifier/** @hideo54
vocabwar/** @pizzacat83
voiperrobot/** @kurgm
welcome/** @hakatashi
wordhero/** @hakatashi
wordle-battle/** @platypus999

achievements: Add some reactions achievements
  achievements/achievements.ts
  achievements/index_production.ts
Owners: @hakatashi

atcoder: Add type validation for previous solves to prevent errors
  atcoder/index.ts
Owners: @hakatashi

achievements: Fix firestore mock return value to include db object
  achievements/index_production.test.ts
Owners: @hakatashi

achievements: Enhance romanization for specific Japanese readings in unlockKiToOAchievements
  achievements/index_production.ts
Owners: @hakatashi

achievements: Add delay to allow slack-patron to cache reaction data
  achievements/index_production.ts
Owners: @hakatashi

achievements: Refactor tests to improve clarity and structure
  achievements/index_production.test.ts
Owners: @hakatashi

feat: add Daily 20 Doors Slack bot
  daily-20-doors/.eslintrc.json
  daily-20-doors/Daily20Doors.test.ts
  daily-20-doors/Daily20Doors.ts
  daily-20-doors/index.ts
  index.ts
Owners: @hakatashi

lib/openai: Log the cost usage of OpenAI API and limit the usage of API
  autogen-quiz/index.ts
  discord/index.ts
  globals.d.ts
  index.ts
  lib/discord.ts
  lib/openai.ts
  package-lock.json
  package.json
  slow-quiz/index.ts
Owners: @hakatashi

Fix TypeScript error by updating OpenAI dependencies
  lib/openai.ts
  package-lock.json
  package.json
Owners: @hakatashi

lib/openai: Enhance model validation for audio and chat completion APIs
  lib/openai.ts
Owners: @hakatashi

lib/autogen-quiz: Improve error handling in Wikipedia content retrieval and enhance template assertion
  autogen-quiz/index.ts
Owners: @hakatashi

context-free: Enhance composePost function to track placeholder replacements and throw an error if none are found
  context-free/index.ts
Owners: @KPCCoiL

Replace mail-hook reply buttons with dropdown menu
  mail-hook/index.ts
Owners: @hakatashi

Improve mail-hook dropdown implementation and code quality
  mail-hook/index.ts
Owners: @hakatashi

Add zod validation for dropdown selection parsing
  mail-hook/index.ts
Owners: @hakatashi

Update deprecated google-gemini/gemini-cli-action to google-github-actions/run-gemini-cli
  .github/workflows/gemini-pr-review.yml
Owners: @hakatashi

Fix file path issue: use absolute paths for write_file in new Gemini CLI action
  .github/workflows/gemini-pr-review.yml
Owners: @hakatashi

Update review instructions to use absolute path for review file
  .github/workflows/gemini-pr-review.yml
Owners: @hakatashi

Refactor Gemini PR review prompt and remove deprecated shell commands
  .github/workflows/gemini-pr-review.yml
Owners: @hakatashi

Fix Gemini PR review workflow for pull_request_review events
  .github/workflows/gemini-pr-review.yml
Owners: @hakatashi

たほいやURL登録バグ
  tahoiya/index.js
Owners: @hakatashi

url処理修正2
  tahoiya/index.js
Owners: @hakatashi

extracturlのチェックを１回にまとめる
  tahoiya/index.js
Owners: @hakatashi

tahoiya bug fix
  tahoiya/index.js
Owners: @hakatashi

Refactor weather fetching and forecasting logic; add logging and improve response formatting
  lib/openai.ts
  package-lock.json
  package.json
  sunrise/__mocks__/assets/weather.json
  sunrise/aiGeneration.ts
  sunrise/fetch.ts
  sunrise/forecast.ts
  sunrise/index.ts
  sunrise/prompts/rain_minute_cast.md
  sunrise/prompts/weather_cast_forecast.md
  sunrise/prompts/weather_cast_headline.md
Owners: @hakatashi

Apply review comment fixes
  package.json
  sunrise/__mocks__/fetch.ts
  sunrise/aiGeneration.ts
  sunrise/index.test.ts
Owners: @hakatashi

Disable slow-quiz bot temporarily
  index.ts
Owners: @hakatashi

Update index.ts
  nmpz/index.ts
Owners: @sh-mug

Upgrade Node.js version to v22.19.0
  .tool-versions
  README.md
  functions/package.json
  package.json
Owners: @hakatashi

feat(achievements): リアクション実績の表現を閾値カウンタ方式へ移行・マイグレーション追加
  achievements/achievements.ts
  achievements/index_production.ts
  bin/migrate-reaction-achievements.ts
Owners: @hakatashi

refactor(achievements): Achievementからreactionプロパティを削除
  achievements/achievements.ts
  achievements/index_production.ts
Owners: @hakatashi

Add new reaction achievement for 5-ojisan
  achievements/achievements.ts
Owners: @hakatashi

Implement twenty-questions bot
  achievements/achievements.ts
  index.ts
  lib/__mocks__/firestore.ts
  lib/__mocks__/openai.ts
  tahoiya/lib.d.ts
  twenty-questions/README.md
  twenty-questions/TwentyQuestions.test.ts
  twenty-questions/TwentyQuestions.ts
  twenty-questions/index.ts
  twenty-questions/views/gameLogModal.test.ts
  twenty-questions/views/gameLogModal.ts
  twenty-questions/views/gameStatusMessage.test.ts
  twenty-questions/views/gameStatusMessage.ts
  twenty-questions/views/playerModal.test.ts
  twenty-questions/views/playerModal.ts
Owners: @hakatashi

fix(types): remove unnecessary @ts-expect-error on tahoiya imports (qrcode-quiz, sorting-riddles)
  qrcode-quiz/index.ts
  sorting-riddles/index.ts
Owners: @hakatashi, @n4o847

achievements: replace achievement name for twenty-questions
  achievements/achievements.ts
Owners: @hakatashi

Apply review feedbacks
  lib/candidateWords.ts
  qrcode-quiz/index.ts
  sorting-riddles/index.ts
  tahoiya/lib.d.ts
  tahoiya/lib.js
  twenty-questions/TwentyQuestions.ts
  twenty-questions/views/playerModal.ts
Owners: @hakatashi, @n4o847

Add TypeScript declarations for tahoiya (lib.d.ts)
  tahoiya/lib.d.ts
Owners: @hakatashi

twenty-questions: extract shared constants and switch candidateWords import in tests
  twenty-questions/TwentyQuestions.test.ts
  twenty-questions/TwentyQuestions.ts
  twenty-questions/const.ts
  twenty-questions/views/playerModal.ts
Owners: @hakatashi

tahoiya: require getCandidateWords from lib/candidateWords.ts (remove from ./lib.js) and parenthesize regex before .exec
  tahoiya/index.js
Owners: @hakatashi

twenty-questions: replace max_tokens with max_completion_tokens and add reasoning_effort:'minimal' to AI completions
  twenty-questions/TwentyQuestions.ts
Owners: @hakatashi
