Repository tsg-ut/slackbot, changes with the owners that CODEOWNERS names for each.
All owners: @hakatashi, @settyan117, @kurgm, @smallkirby, @naan4UGen, @Yosshi999, @KPCCoiL, @n4o847, @platypus999, @hideo54, @sh-mug, @satos---jp, @pizzacat83

Update achievement-quiz/index.ts
  achievement-quiz/index.ts
Owners: @settyan117

Update achievement-quiz/index.ts
  achievement-quiz/index.ts
Owners: @settyan117

修正&調整
  kirafan/.prettierrc.json
  kirafan/quiz.ts
Owners: @settyan117

対応
  character-quiz/index.ts
Owners: @hakatashi

Update character-quiz/index.ts
  character-quiz/index.ts
Owners: @hakatashi

crossword: Add support for launching from games channel, implement ChannelLimitedBot class for channel-limited bots
  lib/channelLimitedBot.ts
  wordhero/crossword.ts
Owners: @hakatashi

lib/channelLimitedBot: Add unit test
  lib/channelLimitedBot.test.ts
Owners: @hakatashi

Check in missing files
  lib/__mocks__/slackUtils.ts
  lib/slackUtils.ts
Owners: @hakatashi

Apply review feedbacks
  lib/channelLimitedBot.ts
  wordhero/crossword.ts
Owners: @hakatashi

crossword: Apply SonarQube feedbacks
  wordhero/crossword.ts
Owners: @hakatashi

hangman: games チャンネル対応
  hangman/index.js
Owners: @platypus999

Implement progressMessage support in channelLimitedBot and support it in wordhero/crossword
  lib/channelLimitedBot.ts
  wordhero/crossword.ts
Owners: @hakatashi

Fix ChannelLimitedBot tests
  lib/channelLimitedBot.test.ts
Owners: @hakatashi

channelLimitedBot: Apply review feedbacks
  lib/channelLimitedBot.test.ts
  lib/channelLimitedBot.ts
Owners: @hakatashi

twenty-questions: Show correct answer to user after user succeeded to answer
  twenty-questions/TwentyQuestions.ts
  twenty-questions/views/playerModal.test.ts
  twenty-questions/views/playerModal.ts
Owners: @hakatashi

Update gemini review workflows using the latest template
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-pr-review.yml
  .github/workflows/gemini-review.toml
  .github/workflows/gemini-review.yml
Owners: @hakatashi

Apply review feedbacks
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-review.yml
Owners: @hakatashi

Disable invoke command and set command to fallthrough
  .github/workflows/gemini-dispatch.yml
Owners: @hakatashi

Add support for 'ready_for_review' event in Gemini dispatch workflow
  .github/workflows/gemini-dispatch.yml
Owners: @hakatashi

Fix Gemini review workflow to pass required context via inputs
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-review.yml
Owners: @hakatashi

Update acknowledge comment by reflecting actual una's response
  .github/workflows/gemini-dispatch.yml
Owners: @hakatashi

Move gemini-review.toml to correct location
  .gemini/commands/gemini-review.toml
  .gitignore
Owners: @hakatashi

achievements: Implement several reaction achievements and modify condition
  achievements/achievements.ts
Owners: @hakatashi

achievements: Add 2 reaction achievements
  achievements/achievements.ts
Owners: @hakatashi

discord: Fix TTS functionality by updating @discordjs/voice (Resolves #1114)
  discord/speeches/openai.ts
  discord/tts.ts
  lib/openai.ts
  package-lock.json
  package.json
Owners: @hakatashi

Rename gemini-review.toml to gemini-pr-review.toml
  .gemini/commands/gemini-pr-review.toml
  .github/workflows/gemini-review.yml
Owners: @hakatashi

character-quiz: Rewrite logics using ChannelLimetedBot framework
  atequiz/index.ts
  character-quiz/index.ts
Owners: @settyan117, @hakatashi

atequiz: add onStarted callback call
  atequiz/index.ts
Owners: @settyan117

character-quiz: Add progress message deletion
  character-quiz/index.ts
Owners: @hakatashi

Improve Gemini PR review config with project-specific coding standards
  .gemini/commands/gemini-pr-review.toml
Owners: @hakatashi

character-quiz: Rewrite logics using ChannelLimetedBot framework
  atequiz/index.ts
  character-quiz/index.ts
Owners: @settyan117, @hakatashi

atequiz: add onStarted callback call
  atequiz/index.ts
Owners: @settyan117

character-quiz: Add progress message deletion
  character-quiz/index.ts
Owners: @hakatashi

character-quiz: Enhance error handling
  character-quiz/index.ts
  lib/channelLimitedBot.ts
Owners: @hakatashi

ahokusa: Refactor thread management
  ahokusa/index.ts
  lib/slackUtils.ts
Owners: @kurgm, @hakatashi

Apply suggestions from code review
  ahokusa/index.test.ts
  ahokusa/index.ts
Owners: @kurgm

issue#1135
  nmpz/index.ts
Owners: @sh-mug

修正
  nmpz/index.ts
Owners: @sh-mug

Revert "[NMPZ] slackbot-gamesで動くように"
  nmpz/index.ts
Owners: @sh-mug

feat(hayaoshi): add logging for correct answer handling and simplify constructor parameters
  discord/hayaoshi.ts
  discord/index.ts
Owners: @hakatashi

CODEOWNERS:

# Default owner
* @hakatashi

achievement-quiz/** @settyan117
achievements/** @hakatashi
adventar/** @settyan117
ahokusa/** @kurgm
amongyou/** @smallkirby
anime/** @hakatashi
api/** @hakatashi
atcoder/** @hakatashi
atequiz/** @settyan117
better-custom-response/** @naan4UGen
bungo-quiz/** @Yosshi999
channel-notifier/** @hakatashi
character-quiz/** @hakatashi
checkin/** @hakatashi
context-free/** @KPCCoiL
dajare/** @kurgm
deploy/** @hakatashi
discord/** @hakatashi
emoji-modifier/** @KPCCoiL
emoji-notifier/** @hakatashi
emoxpand/** @KPCCoiL
golfbot/** @n4o847
hakatashi-visor/** @smallkirby
hangman/** @platypus999
hayaoshi/** @hakatashi
hitandblow/** @settyan117
kirafan/** @settyan117
lyrics/** @hideo54
mahjong/** @hakatashi
mail-hook/** @hakatashi
nmpz/** @sh-mug
nojoin/** @hakatashi
oauth/** @hakatashi
octas/** @Yosshi999
ojigineko-life/** @hakatashi
oneiromancy/** @hakatashi
oogiri/** @hakatashi
pocky/** @kurgm
ponpe/** @satos---jp
prime/** @hakatashi
pwnyaa/** @smallkirby
remember-english/** @hakatashi
ricochet-robots/** @satos---jp
room-gacha/** @hideo54
scrapbox/** @hakatashi
shmug/** @settyan117
shogi/** @hakatashi
slack-log/** @hakatashi
sorting-riddles/** @n4o847
summary/** @Yosshi999
sunrise/** @hakatashi
sushi-bot/** @hakatashi
tahoiya/** @hakatashi
taiko/** @kurgm
tiobot/** @hakatashi
topic/** @hakatashi
tsglive/** @hakatashi
tunnel/** @hakatashi
twitter-dm-notifier/** @hideo54
vocabwar/** @pizzacat83
voiperrobot/** @kurgm
welcome/** @hakatashi
wordhero/** @hakatashi
wordle-battle/** @platypus999
