Repository tsg-ut/slackbot, changes with the owners that CODEOWNERS names for each.
All owners: @hakatashi, @settyan117, @kurgm, @smallkirby, @naan4UGen, @Yosshi999, @KPCCoiL, @n4o847, @platypus999, @hideo54, @sh-mug, @satos---jp, @pizzacat83

CODEOWNERS:

# Default owner
* @hakatashi

achievement-quiz/** @settyan117
achievements/** @hakatashi
adventar/** @settyan117
ahokusa/** @kurgm
amongyou/** @smallkirby
anime/** @hakatashi
api/** @hakatashi
atcoder/** @hakatashi
atequiz/** @settyan117
better-custom-response/** @naan4UGen
bungo-quiz/** @Yosshi999
channel-notifier/** @hakatashi
character-quiz/** @hakatashi
checkin/** @hakatashi
context-free/** @KPCCoiL
dajare/** @kurgm
deploy/** @hakatashi
discord/** @hakatashi
emoji-modifier/** @KPCCoiL
emoji-notifier/** @hakatashi
emoxpand/** @KPCCoiL
golfbot/** @n4o847
hakatashi-visor/** @smallkirby
hangman/** @platypus999
hayaoshi/** @hakatashi
hitandblow/** @settyan117
kirafan/** @settyan117
lyrics/** @hideo54
mahjong/** @hakatashi
mail-hook/** @hakatashi
nmpz/** @sh-mug
nojoin/** @hakatashi
oauth/** @hakatashi
octas/** @Yosshi999
ojigineko-life/** @hakatashi
oneiromancy/** @hakatashi
oogiri/** @hakatashi
pocky/** @kurgm
ponpe/** @satos---jp
prime/** @hakatashi
pwnyaa/** @smallkirby
remember-english/** @hakatashi
ricochet-robots/** @satos---jp
room-gacha/** @hideo54
scrapbox/** @hakatashi
shmug/** @settyan117
shogi/** @hakatashi
slack-log/** @hakatashi
sorting-riddles/** @n4o847
summary/** @Yosshi999
sunrise/** @hakatashi
sushi-bot/** @hakatashi
tahoiya/** @hakatashi
taiko/** @kurgm
tiobot/** @hakatashi
topic/** @hakatashi
tsglive/** @hakatashi
tunnel/** @hakatashi
twitter-dm-notifier/** @hideo54
vocabwar/** @pizzacat83
voiperrobot/** @kurgm
welcome/** @hakatashi
wordhero/** @hakatashi
wordle-battle/** @platypus999

Fix SonarQube issues
  shogi/index.ts
  vocabwar/index.ts
Owners: @hakatashi, @pizzacat83

vocabwar: Fix type issues
  vocabwar/index.ts
Owners: @pizzacat83

shogi: Fix Array class construction issue
  shogi/index.ts
Owners: @hakatashi

ci: Rustのビルドキャッシュを追加してtest-rustジョブを高速化
  .github/workflows/test.yml
Owners: @hakatashi

feat(tahoiya): 任意たほいやモードにOpenAIベースのAI参加者を追加
  tahoiya/Tahoiya.ts
  tahoiya/arbitraryAibot.test.ts
  tahoiya/arbitraryAibot.ts
Owners: @hakatashi

fix(tahoiya): 任意たほいやAI参加者のプロンプトを改善
  tahoiya/Tahoiya.ts
  tahoiya/arbitraryAibot.test.ts
  tahoiya/arbitraryAibot.ts
Owners: @hakatashi

feat(tahoiya): AI参加者の動作確認・調整とopenaiパッケージのアップデート
  lib/openai.ts
  package-lock.json
  package.json
  tahoiya/Tahoiya.ts
  tahoiya/arbitraryAibot.ts
Owners: @hakatashi

feat(tahoiya): 任意たほいやAI参加者をgpt-5.4-miniに切り替え、正解非公開の候補生成方式に変更
  lib/openai.ts
  tahoiya/arbitraryAibot.test.ts
  tahoiya/arbitraryAibot.ts
Owners: @hakatashi

fix: 事前ビルド後のアセットコピーで.yml/.md/.png/.mp3等が欠落する問題を修正
  bin/copy-build-assets.mts
Owners: @hakatashi

fix: CI失敗を解消(Dockerイメージビルドとfunctionsのビルド)
  .devcontainer/slackbot/Dockerfile
  functions/tsconfig.json
Owners: @hakatashi

test: 全botの起動時クラッシュを検知するスモークテストを追加
  __mocks__/axios.js
  __mocks__/sqlite.js
  emoxpand/index.ts
  index.ts
  lib/__mocks__/state.ts
  lib/bots.ts
  lib/slackMock.ts
  lib/startup.test.ts
Owners: @hakatashi, @KPCCoiL

fix: CIで顕在化した2つの起動時クラッシュへの対処を追加
  lib/startup.test.ts
Owners: @hakatashi

ci: cargo build/testに--offlineフォールバックを追加してインデックス更新をスキップ
  .github/workflows/test.yml
Owners: @hakatashi

ci: --offlineをやめ、sparseレジストリプロトコルに切り替える
  .cargo/config.toml
  .github/workflows/test.yml
Owners: @hakatashi

fix: sparseレジストリのreplace-with指定を名前付きsourceテーブル参照に修正
  .cargo/config.toml
Owners: @hakatashi

fix: sparseレジストリの明示的なsource定義を削除
  .cargo/config.toml
Owners: @hakatashi

chore: mock scrape-it in __mocks__ for lyrics and room-gacha tests
  __mocks__/scrape-it.ts
  lyrics/index.test.ts
  room-gacha/index.test.ts
Owners: @hakatashi, @hideo54

fix: resolve vitest-migration conflicts and lint errors from merged master
  shogi/index.test.ts
  sunrise/index.test.ts
  tahoiya/arbitraryAibot.test.ts
  tahoiya/views/bettingModal.ts
  tahoiya/views/submitMeaningModal.ts
Owners: @hakatashi

fix: microsoft-cognitiveservices-speech-sdkを1.50.0に更新してデプロイ時のtsgo消失を修正
  package-lock.json
Owners: @hakatashi

fix: デプロイ時のnpm ciがNODE_ENV=production継承によりdevDependenciesをスキップする問題を修正
  deploy/index.ts
Owners: @hakatashi

test: 全botの起動時クラッシュを検知するスモークテストを追加
  __mocks__/axios.js
  __mocks__/sqlite.js
  emoxpand/index.ts
  index.ts
  lib/__mocks__/state.ts
  lib/bots.ts
  lib/slackMock.ts
  lib/startup.test.ts
Owners: @hakatashi, @KPCCoiL

fix: lib/__mocks__/getReading.jsがvitest実行時にモジュール解決エラーになる問題を修正
  lib/__mocks__/getReading.js
Owners: @hakatashi

test: map-guessr/nmpzのスモークテスト除外を解除
  lib/startup.test.ts
Owners: @hakatashi

fix: ponpe/atcoderの起動時ネットワークアクセスを解消し、deploy/mahjong/atcoder/ponpe/google-calendarをスモークテスト対象に追加
  atcoder/index.ts
  lib/startup.test.ts
  ponpe/index.ts
Owners: @hakatashi, @satos---jp

fix: dajare/tokenize.jsの辞書ロードを遅延化しgetReadingモックを不要に
  dajare/tokenize.js
  lib/startup.test.ts
Owners: @kurgm, @hakatashi

Revert "fix: dajare/tokenize.jsの辞書ロードを遅延化しgetReadingモックを不要に"
  dajare/tokenize.js
  lib/startup.test.ts
Owners: @kurgm, @hakatashi

Clean up comments and implementations in lib/startup.test.ts
  lib/startup.test.ts
Owners: @hakatashi

ponpe: Add type information to tsgTeamLoader
  ponpe/index.ts
Owners: @satos---jp

feat(emoxpand): lazy load big emojis using Loader
  emoxpand/index.ts
Owners: @KPCCoiL
