Repository tsg-ut/slackbot, changes with the owners that CODEOWNERS names for each.
All owners: @hakatashi, @settyan117, @kurgm, @smallkirby, @naan4UGen, @Yosshi999, @KPCCoiL, @n4o847, @platypus999, @hideo54, @sh-mug, @satos---jp, @pizzacat83

CODEOWNERS:

# Default owner
* @hakatashi

achievement-quiz/** @settyan117
achievements/** @hakatashi
adventar/** @settyan117
ahokusa/** @kurgm
amongyou/** @smallkirby
anime/** @hakatashi
api/** @hakatashi
atcoder/** @hakatashi
atequiz/** @settyan117
better-custom-response/** @naan4UGen
bungo-quiz/** @Yosshi999
channel-notifier/** @hakatashi
character-quiz/** @hakatashi
checkin/** @hakatashi
context-free/** @KPCCoiL
dajare/** @kurgm
deploy/** @hakatashi
discord/** @hakatashi
emoji-modifier/** @KPCCoiL
emoji-notifier/** @hakatashi
emoxpand/** @KPCCoiL
golfbot/** @n4o847
hakatashi-visor/** @smallkirby
hangman/** @platypus999
hayaoshi/** @hakatashi
hitandblow/** @settyan117
kirafan/** @settyan117
lyrics/** @hideo54
mahjong/** @hakatashi
mail-hook/** @hakatashi
nmpz/** @sh-mug
nojoin/** @hakatashi
oauth/** @hakatashi
octas/** @Yosshi999
ojigineko-life/** @hakatashi
oneiromancy/** @hakatashi
oogiri/** @hakatashi
pocky/** @kurgm
ponpe/** @satos---jp
prime/** @hakatashi
pwnyaa/** @smallkirby
remember-english/** @hakatashi
ricochet-robots/** @satos---jp
room-gacha/** @hideo54
scrapbox/** @hakatashi
shmug/** @settyan117
shogi/** @hakatashi
slack-log/** @hakatashi
sorting-riddles/** @n4o847
summary/** @Yosshi999
sunrise/** @hakatashi
sushi-bot/** @hakatashi
tahoiya/** @hakatashi
taiko/** @kurgm
tiobot/** @hakatashi
topic/** @hakatashi
tsglive/** @hakatashi
tunnel/** @hakatashi
twitter-dm-notifier/** @hideo54
vocabwar/** @pizzacat83
voiperrobot/** @kurgm
welcome/** @hakatashi
wordhero/** @hakatashi
wordle-battle/** @platypus999

npm audit fix vm2
  package-lock.json
Owners: @hakatashi

fix: remove package-lock.json from binary attributes
  .gitattributes
Owners: @hakatashi

dos2unix package-lock.json
  package-lock.json
Owners: @hakatashi

Re-sync package.json files
  functions/package-lock.json
  package-lock.json
  package.json
Owners: @hakatashi

Address remaining TypeScript compilation errors using GitHub Copilot Chat Agent
  deploy/index.ts
  discord/hayaoshi.ts
  discord/tts.ts
  functions/src/jobs/slackFileArchiveCronJeb.test.ts
  index.ts
  lib/download.ts
  ricochet-robots/rust-proxy.ts
  wadokaichin/index.ts
  wordhero/generateCrossword.ts
Owners: @hakatashi, @satos---jp

[add] post current game status with 'slow-quiz'
  slow-quiz/index.ts
Owners: @hakatashi

Update slow-quiz/index.ts
  slow-quiz/index.ts
Owners: @hakatashi

slow-quiz: Use slash command /slow-quiz to show current status of slow quiz
  slow-quiz/index.ts
Owners: @hakatashi

Refactor TypeScript configuration and update package dependencies
  deploy/index.ts
  package-lock.json
  package.json
  tsconfig.json
Owners: @hakatashi

Update discord.js to v14.21.0 and adjust TypeScript types configuration
  package-lock.json
  package.json
  tsconfig.json
Owners: @hakatashi

Revert some files to the original state and fix typing errors
  amongyou/index.ts
  discord/hayaoshi.ts
  discord/tts.ts
  emoji-modifier/index.ts
  emoxpand/index.ts
  functions/src/index.ts
  functions/src/jobs/slackFileArchiveCronJeb.test.ts
  functions/src/jobs/slackFileArchiveCronJob.ts
  helloworld/HelloWorld.ts
  hitandblow/index.ts
  index.ts
  lib/download.ts
  lib/slack.ts
  lib/slackEventClient.ts
  lib/slackMock.ts
  mail-hook/index.ts
  ricochet-robots/rust-proxy.ts
  room-gacha/index.ts
  tiobot/index.ts
  tsconfig.json
  twitter-dm-notifier/index.ts
  types/events.d.ts
  wadokaichin/index.ts
  wordhero/generateCrossword.ts
Owners: @smallkirby, @hakatashi, @KPCCoiL, @settyan117, @satos---jp, @hideo54

Revert slow-quiz/index.ts to the original state
  slow-quiz/index.ts
Owners: @hakatashi

Update tsconfig.json to include 'globals.d.ts' and remove 'allowSyntheticDefaultImports'
  tsconfig.json
Owners: @hakatashi

Update package dependencies and adjust TypeScript configuration
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  tsconfig.json
Owners: @hakatashi

Update TypeScript version to ^5.8.3 in functions/package.json and refresh package-lock.json
  functions/package-lock.json
  functions/package.json
Owners: @hakatashi

npm audit fix vm2
  package-lock.json
Owners: @hakatashi

npm audit fix protobufjs --force
  package-lock.json
  package.json
Owners: @hakatashi

Implement event duplication remover (Work by Copilot Agent)
  .env.example
  index.ts
  lib/eventDeduplication.test.ts
  lib/eventDeduplication.ts
  lib/slackEventClient.ts
  package-lock.json
  package.json
Owners: @hakatashi

Refactor event deduplication logic and update environment configuration
  .env.example
  index.ts
  lib/eventDeduplication.test.ts
  lib/eventDeduplication.ts
  lib/slackEventClient.ts
Owners: @hakatashi

Refactor DuplicateEventChecker class and update Redis client implementation
  lib/eventDeduplication.test.ts
  lib/eventDeduplication.ts
Owners: @hakatashi

Refactor event processing methods in DuplicateEventChecker and update SlackEventClient to use new event handling logic
  lib/eventDeduplication.test.ts
  lib/eventDeduplication.ts
  lib/slack.ts
  lib/slackCache.ts
  lib/slackEventClient.ts
Owners: @hakatashi

Fix type errors
  lib/slackCache.ts
  lib/slackEventClient.ts
Owners: @hakatashi

Update lib/slackEventClient.ts
  lib/slackEventClient.ts
Owners: @hakatashi

Update canvas and jsdom
  package-lock.json
  package.json
Owners: @hakatashi

Update sqlite3
  package-lock.json
  package.json
Owners: @hakatashi

Update README
  README.md
Owners: @hakatashi

Revert "Pointer Compressionと互換性を持つようにデプロイコマンドを変更"
  deploy/index.ts
Owners: @hakatashi

Add GitHub Copilot instructions for TSG Slackbot development
  .github/copilot-instructions.md
Owners: @hakatashi

Refactor HelloWorld tests to improve mock implementations and structure
  helloworld/HelloWorld.test.ts
Owners: @hakatashi

Remove http-local-fwd directory
  .gitmodules
Owners: @hakatashi

Create copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Owners: @hakatashi

Add AI assistant instructions for various agent tools
  .clinerules
  .cursorrules
  .github/copilot-instructions.md
  .windsurfrules
  AGENT.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Owners: @hakatashi

Update AI assistant instructions for GitHub Copilot and Gemini CLI
  .github/copilot-instructions.md
  GEMINI.md
Owners: @hakatashi

Add resistor-quiz bot (powered by Gemini CLI)
  index.ts
  resistor-quiz/.eslintrc.json
  resistor-quiz/index.test.ts
  resistor-quiz/index.ts
Owners: @hakatashi

Add resistor-quiz (powered by Claude Code)
  index.ts
  resistor-quiz/.eslintrc.json
  resistor-quiz/index.test.ts
  resistor-quiz/index.ts
  resistor-quiz/tsconfig.json
Owners: @hakatashi

Update resistor-quiz (powered by Claude Code)
  resistor-quiz/index.test.ts
  resistor-quiz/index.ts
Owners: @hakatashi

Update resistor-quiz (powered by Claude Code)
  index.ts
  resistor-quiz/index.test.ts
  resistor-quiz/index.ts
Owners: @hakatashi

Add achievements for resistor-quiz (powered by Claude Code)
  achievements/achievements.ts
Owners: @hakatashi

Implement EventClientWrapper for Slack event deduplication
  lib/eventClientWrapper.test.ts
  lib/eventClientWrapper.ts
  lib/eventDeduplication.test.ts
  lib/eventDeduplication.ts
  lib/slack.ts
  lib/slackCache.ts
  lib/slackEventClient.ts
Owners: @hakatashi

Make #registeredEvents property readonly in EventClientWrapper
  lib/eventClientWrapper.ts
Owners: @hakatashi
