Repository tsg-ut/slackbot, changes with the owners that CODEOWNERS names for each.
All owners: @hakatashi, @settyan117, @kurgm, @smallkirby, @naan4UGen, @Yosshi999, @KPCCoiL, @n4o847, @platypus999, @hideo54, @sh-mug, @satos---jp, @pizzacat83

deploy: Ensure raw body conversion
  deploy/index.ts
Owners: @hakatashi

fix: @octokit/webhooks v14のESM専用化によるJestエラーを修正
  __mocks__/@octokit/webhooks.cjs
  jest.config.js
Owners: @hakatashi

docs: jest.config.jsにmoduleNameMapperの説明コメントを追加
  jest.config.js
Owners: @hakatashi

fix: @octokit/webhooksのESM問題をglobal設定ではなくjest.mockで対応
  __mocks__/@octokit/webhooks.cjs
  __mocks__/axios.js
  __mocks__/cloudinary.js
  __mocks__/dockerode.js
  __mocks__/download.js
  __mocks__/fs.js
  __mocks__/node-persist.js
  __mocks__/sqlite.js
  __mocks__/tinyreq.js
  __mocks__/twitter.ts
  __mocks__/word2vec.js
  jest.config.js
  mahjong/index.test.js
Owners: @hakatashi

fix: 誤って削除した__mocks__ファイルを復元
  __mocks__/axios.js
  __mocks__/cloudinary.js
  __mocks__/dockerode.js
  __mocks__/download.js
  __mocks__/fs.js
  __mocks__/node-persist.js
  __mocks__/sqlite.js
  __mocks__/tinyreq.js
  __mocks__/twitter.ts
  __mocks__/word2vec.js
Owners: @hakatashi

fix: jest.mockにファクトリ関数を渡して実際のESMモジュールをロードしないよう修正
  mahjong/index.test.js
Owners: @hakatashi

fix: cloudinary v2・puppeteer v25へのセキュリティアップデート
  map-guessr/index.ts
  package-lock.json
  package.json
Owners: @hakatashi

fix: protobufjs CriticalおよびDiscord OpusのHigh脆弱性を修正
  package-lock.json
  package.json
Owners: @hakatashi

fix: デイリーたほいやのスキップメッセージをスレッドへのbroadcastに変更
  tahoiya/Tahoiya.ts
Owners: @hakatashi

Allow read access to tahoiya_games collection
  firestore.rules
Owners: @hakatashi

fix: 事前ビルド移行後のstaticファイル欠落と__dirname依存パス問題を修正
  bin/copy-build-assets.js
  lib/download.ts
  map-guessr/index.ts
  octas/index.ts
  package.json
Owners: @hakatashi, @Yosshi999

refactor: copy-build-assets をTypeScript化し tsx で実行するよう変更
  bin/copy-build-assets.js
  bin/copy-build-assets.ts
  package.json
Owners: @hakatashi

fix: SonarQube Cloud issueの修正とAGENTS.mdのビルド手順反映
  bin/copy-build-assets.ts
  lib/download.ts
  octas/index.ts
Owners: @hakatashi, @Yosshi999

fix: SonarQube Cloud issueの修正
  bin/copy-build-assets.ts
Owners: @hakatashi

fix: Move NOSONAR comment to the proper position
  bin/copy-build-assets.ts
Owners: @hakatashi

refactor: copy-build-assets を .mts に変換し fs/promises の非同期 API を使用
  bin/copy-build-assets.mts
  package.json
Owners: @hakatashi

fix: node:fs プレフィックス使用によるJestモック未適用を修正
  lib/download.test.ts
  vocabwar/index.test.js
Owners: @hakatashi, @pizzacat83

fix: PR #1207 以降に顕在化した Discord domain 経由の uncaughtException クラッシュを修正
  discord/hayaoshi.ts
  discord/index.ts
  index.ts
Owners: @hakatashi

fix: tsgo 型チェックエラーを解消（CI 修正）
  achievements/index_production.ts
  character-quiz/index.ts
  globals.d.ts
  hayaoshi/util.ts
  kirafan/quiz.ts
  lib/candidateWords.ts
  lib/loadFont.ts
  lib/slackMock.ts
  package-lock.json
  package.json
  ponpe/index.ts
  shogi/index.ts
  slow-quiz/index.ts
  sushi-bot/time-scoring.ts
  tahoiya/aibot.ts
  wordhero/crossword.ts
  wordhero/index.ts
Owners: @hakatashi, @settyan117, @satos---jp

fix: slackCache テストのPromise解決順序を決定論的にする（CI 修正）
  lib/slackCache.test.ts
Owners: @hakatashi

refactor: remove unused achievements mock and streamline mutex usage in mahjong logic
  achievements/__mocks__/index.js
  mahjong/index.js
  mahjong/index.test.ts
Owners: @hakatashi

Remove unused pino-std-serializers configuration from Vitest setup
  vitest.config.ts
  wordle-battle/index.test.ts
Owners: @hakatashi, @platypus999

fix: Vitest移行後のコードスタイルとSonarQube問題を修正
  __mocks__/axios.js
  __mocks__/download.js
  __mocks__/fs.js
  __mocks__/sqlite.js
  __mocks__/tinyreq.js
  __mocks__/word2vec.js
  auto-archiver/index.test.ts
  checkin/index.test.ts
  discord/notifier.test.ts
  jantama/util.test.ts
  lib/download.test.ts
  lib/state.test.ts
  lyrics/index.test.ts
  mahjong/index.test.ts
  mail-hook/index.test.ts
  octas/index.test.ts
  pocky/index.test.ts
  ponpe/index.test.ts
  prime/index.test.ts
  remember-english/index.test.ts
  ricochet-robots/index.test.ts
  room-gacha/index.test.ts
  shogi/index.test.ts
  shogi/index.ts
  sunrise/index.test.ts
  sushi-bot/index.test.ts
  sushi-bot/time-scoring.test.ts
  topic/index.test.ts
  twenty-questions/TwentyQuestions.test.ts
  twenty-questions/views/gameLogModal.test.ts
  twenty-questions/views/gameStatusMessage.test.ts
  twenty-questions/views/playerModal.test.ts
  twitter-dm-notifier/index.test.ts
  vocabwar/index.test.ts
  vocabwar/index.ts
  voiperrobot/index.test.ts
Owners: @hakatashi, @hideo54, @Yosshi999, @kurgm, @satos---jp, @pizzacat83

chore: CJS起因のJSスタブファイルにESM化後の削除リマインダを追加
  atequiz/index.js
  deploy/index.js
  lib/logger.js
  lib/slackUtils.js
  lib/state.js
  prime/primes.js
Owners: @settyan117, @hakatashi

chore: JSスタブファイルの削除リマインダにIssue番号 (#846) を追記
  atequiz/index.js
  deploy/index.js
  lib/logger.js
  lib/slackUtils.js
  lib/state.js
  prime/primes.js
Owners: @settyan117, @hakatashi

fix: update comments to clarify test environment usage and remove unused state.js file
  atequiz/index.js
  deploy/index.js
  lib/logger.js
  lib/slackMock.ts
  lib/slackUtils.js
  lib/state.js
  lyrics/index.test.ts
  prime/primes.js
Owners: @settyan117, @hakatashi, @hideo54

fix: ricochet-robots の __dirname 依存パスを process.cwd() に変更
  ricochet-robots/rust-proxy.ts
Owners: @satos---jp

fix: .build/ 実行時の __dirname 依存パス問題を追加修正
  lib/slack.ts
  oauth/index.ts
  tunnel/index.ts
  wordhero/generateCrossword.ts
Owners: @hakatashi

Include test files to typescript project files and fix type issues
  checkin/.eslintrc.json
  checkin/index.test.ts
  checkin/index.ts
  dajare/index.test.js
  deploy/block.test.ts
  discord/notifier.test.ts
  helloworld/HelloWorld.test.ts
  lib/channelLimitedBot.test.ts
  lib/download.test.ts
  lib/eventDeduplication.test.ts
  lib/state.test.ts
  mahjong/index.test.ts
  package.json
  pocky/index.test.ts
  prime/index.test.ts
  pwnyaa/index.test.ts
  ricochet-robots/index.test.ts
  shogi/index.test.ts
  sushi-bot/index.test.ts
  topic/index.test.ts
  tsconfig.build.json
  tsconfig.json
  vocabwar/index.test.ts
Owners: @hakatashi, @kurgm, @smallkirby, @satos---jp, @pizzacat83

Remove unused vitest.setup.ts
  vitest.config.ts
  vitest.setup.ts
Owners: @hakatashi

Remove reviewdog from test workflow and fix codecov to use official action
  .github/workflows/test.yml
Owners: @hakatashi

fix: update codecov action to v7 and enable verbose output
  .github/workflows/test.yml
Owners: @hakatashi

fix: update eslint extends to use @hakatashi/eslint-config/typescript
  deploy/.eslintrc.json
  shogi/.eslintrc.json
Owners: @hakatashi

refactor: clean up imports and improve type definitions in shogi module
  shogi/index.ts
Owners: @hakatashi

sushi-bot: Type mocked moment module properly
  sushi-bot/index.test.ts
Owners: @hakatashi

Restore original implementations in some typescript files
  lyrics/index.test.ts
  pocky/index.ts
  vocabwar/index.ts
  wadokaichin/index.test.ts
Owners: @hideo54, @kurgm, @pizzacat83, @hakatashi

fix: simplify property check in getReading mock
  lib/__mocks__/getReading.js
Owners: @hakatashi

Tidy up test compositions
  functions/src/jobs/slackFileArchiveCronJob.test.ts
  helloworld/HelloWorld.test.ts
Owners: @hakatashi

helloworld: Fix test
  helloworld/HelloWorld.test.ts
  lib/logger.ts
  mahjong/index.js
  room-gacha/index.test.ts
Owners: @hakatashi, @hideo54

feat: enhance fs mock with writeFile and mkdir implementations; update index.ts types
  __mocks__/fs.js
  achievements/__mocks__/index.ts
Owners: @hakatashi

CODEOWNERS:

# Default owner
* @hakatashi

achievement-quiz/** @settyan117
achievements/** @hakatashi
adventar/** @settyan117
ahokusa/** @kurgm
amongyou/** @smallkirby
anime/** @hakatashi
api/** @hakatashi
atcoder/** @hakatashi
atequiz/** @settyan117
better-custom-response/** @naan4UGen
bungo-quiz/** @Yosshi999
channel-notifier/** @hakatashi
character-quiz/** @hakatashi
checkin/** @hakatashi
context-free/** @KPCCoiL
dajare/** @kurgm
deploy/** @hakatashi
discord/** @hakatashi
emoji-modifier/** @KPCCoiL
emoji-notifier/** @hakatashi
emoxpand/** @KPCCoiL
golfbot/** @n4o847
hakatashi-visor/** @smallkirby
hangman/** @platypus999
hayaoshi/** @hakatashi
hitandblow/** @settyan117
kirafan/** @settyan117
lyrics/** @hideo54
mahjong/** @hakatashi
mail-hook/** @hakatashi
nmpz/** @sh-mug
nojoin/** @hakatashi
oauth/** @hakatashi
octas/** @Yosshi999
ojigineko-life/** @hakatashi
oneiromancy/** @hakatashi
oogiri/** @hakatashi
pocky/** @kurgm
ponpe/** @satos---jp
prime/** @hakatashi
pwnyaa/** @smallkirby
remember-english/** @hakatashi
ricochet-robots/** @satos---jp
room-gacha/** @hideo54
scrapbox/** @hakatashi
shmug/** @settyan117
shogi/** @hakatashi
slack-log/** @hakatashi
sorting-riddles/** @n4o847
summary/** @Yosshi999
sunrise/** @hakatashi
sushi-bot/** @hakatashi
tahoiya/** @hakatashi
taiko/** @kurgm
tiobot/** @hakatashi
topic/** @hakatashi
tsglive/** @hakatashi
tunnel/** @hakatashi
twitter-dm-notifier/** @hideo54
vocabwar/** @pizzacat83
voiperrobot/** @kurgm
welcome/** @hakatashi
wordhero/** @hakatashi
wordle-battle/** @platypus999
