Repository tsg-ut/slackbot, changes with the owners that CODEOWNERS names for each.
All owners: @hakatashi, @settyan117, @kurgm, @smallkirby, @naan4UGen, @Yosshi999, @KPCCoiL, @n4o847, @platypus999, @hideo54, @sh-mug, @satos---jp, @pizzacat83

Apply suggestions from code review
  twenty-questions/TwentyQuestions.ts
Owners: @hakatashi

twenty-questions: increase max_completion_tokens for answer evaluation from 10 to 50
  twenty-questions/TwentyQuestions.ts
Owners: @hakatashi

twenty-questions: fetch finished game from Firestore for "view log", pass FinishedGame to modal, and update views/tests
  twenty-questions/TwentyQuestions.ts
  twenty-questions/views/gameLogModal.test.ts
  twenty-questions/views/gameLogModal.ts
  twenty-questions/views/gameStatusMessage.test.ts
  twenty-questions/views/gameStatusMessage.ts
Owners: @hakatashi

twenty-questions: remove per-instance UUID and normalize action/view IDs
  twenty-questions/TwentyQuestions.test.ts
  twenty-questions/TwentyQuestions.ts
  twenty-questions/views/gameLogModal.test.ts
  twenty-questions/views/gameStatusMessage.test.ts
  twenty-questions/views/gameStatusMessage.ts
  twenty-questions/views/playerModal.test.ts
  twenty-questions/views/playerModal.ts
Owners: @hakatashi

twenty-questions: use literal string action/view IDs instead of RegExp
  twenty-questions/TwentyQuestions.ts
Owners: @hakatashi

twenty-questions: add typed TwentyQuestionsGames collection and use it for Firestore ops
  twenty-questions/TwentyQuestions.ts
Owners: @hakatashi

twenty-questions: improve AI response consistency and answer matching
  twenty-questions/TwentyQuestions.test.ts
  twenty-questions/TwentyQuestions.ts
  twenty-questions/views/gameLogModal.test.ts
  twenty-questions/views/gameLogModal.ts
  twenty-questions/views/gameStatusMessage.test.ts
  twenty-questions/views/playerModal.test.ts
Owners: @hakatashi

twenty-questions: add character analysis to help AI answer character-related questions
  twenty-questions/TwentyQuestions.test.ts
  twenty-questions/TwentyQuestions.ts
  twenty-questions/views/gameLogModal.test.ts
  twenty-questions/views/gameStatusMessage.test.ts
  twenty-questions/views/playerModal.test.ts
Owners: @hakatashi

twenty-questions: add new achievements and refine awarding logic
  achievements/achievements.ts
  twenty-questions/TwentyQuestions.ts
Owners: @hakatashi

twenty-questions: Clear input fields after submission and hide inputs when game ends
  twenty-questions/TwentyQuestions.ts
  twenty-questions/views/playerModal.ts
Owners: @hakatashi

twenty-questions: Add final ranking display on game end
  twenty-questions/TwentyQuestions.ts
  twenty-questions/rankingUtils.test.ts
  twenty-questions/rankingUtils.ts
  twenty-questions/views/gameStatusMessage.ts
Owners: @hakatashi

firestore: Add read rules for twenty_questions_games collection
  firestore.rules
Owners: @hakatashi

twenty-questions: Add statusMessageTs to FinishedGame interface
  twenty-questions/TwentyQuestions.ts
  twenty-questions/views/gameLogModal.test.ts
Owners: @hakatashi

docs: Update twenty-questions README with latest features
  twenty-questions/README.md
Owners: @hakatashi

twenty-questions: return mutex.runExclusive from interaction handlers; improve SlackMock and tests
  lib/slackMock.ts
  twenty-questions/TwentyQuestions.test.ts
  twenty-questions/TwentyQuestions.ts
Owners: @hakatashi

twenty-questions: move GAME_TIMEOUT to const and add deterministic chat settings
  twenty-questions/TwentyQuestions.ts
  twenty-questions/const.ts
Owners: @hakatashi

twenty-questions: add gpt-4.1-mini support and use new model
  lib/openai.ts
  twenty-questions/TwentyQuestions.ts
Owners: @hakatashi

Update twenty-questions/TwentyQuestions.test.ts
  twenty-questions/TwentyQuestions.test.ts
Owners: @hakatashi

Upgrade google api related packages
  package-lock.json
  package.json
Owners: @hakatashi

Update firebase-admin and firebase-functions packages in functions/ dir
  functions/package-lock.json
  functions/package.json
Owners: @hakatashi

Fix TypeScript errors from google API and firebase-functions updates
  achievements/index_production.ts
  anime/index.js
  discord/hayaoshiUtils.ts
  functions/src/index.ts
  hayaoshi/util.ts
  jantama/index.ts
  summary/index.js
Owners: @hakatashi, @Yosshi999

Add null checks for firebase functions v2 event data
  functions/src/index.ts
Owners: @hakatashi

Move Slack, DynamoDB and S3 initializations into cronJob function
  functions/package-lock.json
  functions/src/jobs/slackFileArchiveCronJob.ts
Owners: @hakatashi

Update Gemini PR review workflow to latest architecture
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-pr-review.yml
  .gitignore
Owners: @hakatashi

Fix SVG dimension calculation in crossword renderer
  wordhero/render.ts
Owners: @hakatashi

wordhero: Fix logic when all letters are invisible and refactor code
  wordhero/render.ts
Owners: @hakatashi

自分の絵文字を登録する実績を追加
  achievements/achievements.ts
Owners: @hakatashi

achievements: Rephrase slack-self-emoji condition
  achievements/achievements.ts
Owners: @hakatashi

環境変数テンプレートを追加
  .env.example
Owners: @hakatashi

ゲーム起動を意図するチャンネルか判定する関数を作成
  lib/utils.ts
Owners: @hakatashi

Update lib/utils.ts
  lib/utils.ts
Owners: @hakatashi

Revert "ゲーム起動を意図するチャンネルか判定する関数を作成"
  lib/utils.ts
Owners: @hakatashi

isPlayground を slackUtils に再実装
  lib/slackUtils.ts
Owners: @hakatashi

インデントを修正
  lib/slackUtils.ts
Owners: @hakatashi

use arrow function
  lib/slackUtils.ts
Owners: @hakatashi

対応
  hitandblow/index.test.ts
  hitandblow/index.ts
Owners: @settyan117

remove unused comment
  hitandblow/index.ts
Owners: @settyan117

add mock for isPlayground
  hitandblow/index.test.ts
Owners: @settyan117

対応
  achievement-quiz/index.test.ts
  achievement-quiz/index.ts
Owners: @settyan117

fix
  kirafan/quiz.ts
Owners: @settyan117

CODEOWNERS:

# Default owner
* @hakatashi

achievement-quiz/** @settyan117
achievements/** @hakatashi
adventar/** @settyan117
ahokusa/** @kurgm
amongyou/** @smallkirby
anime/** @hakatashi
api/** @hakatashi
atcoder/** @hakatashi
atequiz/** @settyan117
better-custom-response/** @naan4UGen
bungo-quiz/** @Yosshi999
channel-notifier/** @hakatashi
character-quiz/** @hakatashi
checkin/** @hakatashi
context-free/** @KPCCoiL
dajare/** @kurgm
deploy/** @hakatashi
discord/** @hakatashi
emoji-modifier/** @KPCCoiL
emoji-notifier/** @hakatashi
emoxpand/** @KPCCoiL
golfbot/** @n4o847
hakatashi-visor/** @smallkirby
hangman/** @platypus999
hayaoshi/** @hakatashi
hitandblow/** @settyan117
kirafan/** @settyan117
lyrics/** @hideo54
mahjong/** @hakatashi
mail-hook/** @hakatashi
nmpz/** @sh-mug
nojoin/** @hakatashi
oauth/** @hakatashi
octas/** @Yosshi999
ojigineko-life/** @hakatashi
oneiromancy/** @hakatashi
oogiri/** @hakatashi
pocky/** @kurgm
ponpe/** @satos---jp
prime/** @hakatashi
pwnyaa/** @smallkirby
remember-english/** @hakatashi
ricochet-robots/** @satos---jp
room-gacha/** @hideo54
scrapbox/** @hakatashi
shmug/** @settyan117
shogi/** @hakatashi
slack-log/** @hakatashi
sorting-riddles/** @n4o847
summary/** @Yosshi999
sunrise/** @hakatashi
sushi-bot/** @hakatashi
tahoiya/** @hakatashi
taiko/** @kurgm
tiobot/** @hakatashi
topic/** @hakatashi
tsglive/** @hakatashi
tunnel/** @hakatashi
twitter-dm-notifier/** @hideo54
vocabwar/** @pizzacat83
voiperrobot/** @kurgm
welcome/** @hakatashi
wordhero/** @hakatashi
wordle-battle/** @platypus999
