Repository tsg-ut/slackbot, changes with the owners that CODEOWNERS names for each.
All owners: @hakatashi, @settyan117, @kurgm, @smallkirby, @naan4UGen, @Yosshi999, @KPCCoiL, @n4o847, @platypus999, @hideo54, @sh-mug, @satos---jp, @pizzacat83

CODEOWNERS:

# Default owner
* @hakatashi

achievement-quiz/** @settyan117
achievements/** @hakatashi
adventar/** @settyan117
ahokusa/** @kurgm
amongyou/** @smallkirby
anime/** @hakatashi
api/** @hakatashi
atcoder/** @hakatashi
atequiz/** @settyan117
better-custom-response/** @naan4UGen
bungo-quiz/** @Yosshi999
channel-notifier/** @hakatashi
character-quiz/** @hakatashi
checkin/** @hakatashi
context-free/** @KPCCoiL
dajare/** @kurgm
deploy/** @hakatashi
discord/** @hakatashi
emoji-modifier/** @KPCCoiL
emoji-notifier/** @hakatashi
emoxpand/** @KPCCoiL
golfbot/** @n4o847
hakatashi-visor/** @smallkirby
hangman/** @platypus999
hayaoshi/** @hakatashi
hitandblow/** @settyan117
kirafan/** @settyan117
lyrics/** @hideo54
mahjong/** @hakatashi
mail-hook/** @hakatashi
nmpz/** @sh-mug
nojoin/** @hakatashi
oauth/** @hakatashi
octas/** @Yosshi999
ojigineko-life/** @hakatashi
oneiromancy/** @hakatashi
oogiri/** @hakatashi
pocky/** @kurgm
ponpe/** @satos---jp
prime/** @hakatashi
pwnyaa/** @smallkirby
remember-english/** @hakatashi
ricochet-robots/** @satos---jp
room-gacha/** @hideo54
scrapbox/** @hakatashi
shmug/** @settyan117
shogi/** @hakatashi
slack-log/** @hakatashi
sorting-riddles/** @n4o847
summary/** @Yosshi999
sunrise/** @hakatashi
sushi-bot/** @hakatashi
tahoiya/** @hakatashi
taiko/** @kurgm
tiobot/** @hakatashi
topic/** @hakatashi
tsglive/** @hakatashi
tunnel/** @hakatashi
twitter-dm-notifier/** @hideo54
vocabwar/** @pizzacat83
voiperrobot/** @kurgm
welcome/** @hakatashi
wordhero/** @hakatashi
wordle-battle/** @platypus999

tahoiya: UIテキスト調整・バグ修正・リファクタリング
  lib/channelLimitedBot.ts
  sorting-riddles/index.ts
  tahoiya/Tahoiya.ts
  tahoiya/aibot.ts
  tahoiya/types.ts
  tahoiya/views/bettingModal.ts
  tahoiya/views/candidatesMessage.ts
  tahoiya/views/collectBettingsMessage.ts
  tahoiya/views/collectMeaningsMessage.ts
  tahoiya/views/dailyStatusMessage.ts
  tahoiya/views/registerThemeModal.ts
  tahoiya/views/resultsMessage.ts
Owners: @hakatashi, @n4o847

atcoder: Use AtCoder Problems API for typical90/ABS solve tracking
  atcoder/index.ts
  atcoder/utils.ts
Owners: @hakatashi

atcoder: Cache submissions with node-persist to fetch only incremental updates
  atcoder/utils.ts
Owners: @hakatashi

tahoiya: コインBETを廃止しシンプルな投票システムに変更
  achievements/achievements.ts
  tahoiya/Tahoiya.ts
  tahoiya/aibot.ts
  tahoiya/rating.test.ts
  tahoiya/rating.ts
  tahoiya/types.ts
  tahoiya/views/bettingModal.ts
  tahoiya/views/collectBettingsMessage.ts
  tahoiya/views/resultsMessage.ts
Owners: @hakatashi

tahoiya: カウンター名をcamelCaseからkebab-caseに変更
  achievements/achievements.ts
  tahoiya/Tahoiya.ts
  tahoiya/migration.ts
Owners: @hakatashi

tahoiya: デイリーたほいやのUI・ゲームシステム改善
  tahoiya/Tahoiya.ts
  tahoiya/rating.ts
  tahoiya/views/collectBettingsMessage.ts
  tahoiya/views/dailyStatusMessage.ts
  tahoiya/views/registerThemeModal.ts
  tahoiya/views/resultsMessage.ts
  tahoiya/views/submitMeaningModal.ts
Owners: @hakatashi

tahoiya: ESLint設定追加・各種バグ修正・リファクタリング
  sorting-riddles/index.ts
  tahoiya/.eslintrc.json
  tahoiya/Tahoiya.ts
  tahoiya/aibot.ts
  tahoiya/migration.ts
  tahoiya/utils.ts
  tahoiya/views/candidatesMessage.ts
  tahoiya/views/registerThemeModal.ts
Owners: @n4o847, @hakatashi

test: node-scheduleをグローバルモックして open handles によるCI hangを修正
  __mocks__/node-schedule.js
Owners: @hakatashi

test: node-scheduleをglobalにモックしてopen handlesによるCI hangを修正
  jest.config.js
Owners: @hakatashi

jest: dockerode・downloadをglobalモックに追加してCI hangを修正
  jest.config.js
Owners: @hakatashi

jest: tahoiyaをcoveragePathIgnorePatternsに追加
  jest.config.js
Owners: @hakatashi

revert: 0f9a88a5~aa31ab4b の jest 設定変更を取り消す
  __mocks__/node-schedule.js
  jest.config.js
Owners: @hakatashi

tahoiya: resultsMessageでas anyをDictionarySource型に置き換え
  tahoiya/views/resultsMessage.ts
Owners: @hakatashi

feat(gemini-review): integrate Open Code Review techniques into PR review prompt
  .gemini/commands/gemini-pr-review.toml
Owners: @hakatashi

Restrict Gemini AI review to free tier API
  .github/workflows/gemini-review.yml
Owners: @hakatashi

Use gemini-3.5-flash model for AI code review
  .github/workflows/gemini-review.yml
Owners: @hakatashi

Revert maxSessionTurns to 25
  .github/workflows/gemini-review.yml
Owners: @hakatashi

atcoder: デイリー通知から Weekday Contest と Daily Training を除外
  atcoder/index.ts
Owners: @hakatashi

functions: functions.config() API を process.env に移行する (#1085)
  functions/.env.example
  functions/.gitignore
  functions/.runtimeconfig.example.json
  functions/src/jobs/slackFileArchiveCronJeb.test.ts
  functions/src/jobs/slackFileArchiveCronJob.ts
Owners: @hakatashi

ci: デプロイ前に functions/.env を Secrets から生成する
  .github/workflows/deploy.yml
Owners: @hakatashi

[hakatashi-visor] hakatashiがsolidのときにみんなで喜びを分かち合う
  hakatashi-visor/index.ts
Owners: @smallkirby

context-free: tahoiya/bot.js削除に伴いaibot.tsのgetAIBotMeaningに移行
  context-free/index.ts
Owners: @KPCCoiL

tahoiya: ランキング・編集検知・コメント機能・Gistマイグレーション追加
  achievements/achievements.ts
  bin/migrate-tahoiya-gist.ts
  tahoiya/Tahoiya.ts
  tahoiya/types.ts
  tahoiya/views/bettingModal.ts
  tahoiya/views/submitMeaningModal.ts
Owners: @hakatashi

deploy: block.test.js の Blocker import を .default に修正
  deploy/block.test.js
Owners: @hakatashi

fix: update install script to use npm ci for cleaner dependency management
  package.json
Owners: @hakatashi

add: 都道府県当てクイズbotを追加
  achievements/achievements.ts
  atequiz/index.ts
  index.ts
  lib/openai.ts
  prefecture-quiz/PrefectureAteQuiz.ts
  prefecture-quiz/answers.test.ts
  prefecture-quiz/answers.ts
  prefecture-quiz/hints.ts
  prefecture-quiz/index.ts
  prefecture-quiz/municipalities.ts
  prefecture-quiz/oldProvinces.ts
  prefecture-quiz/sources.ts
  prefecture-quiz/wikipedia.ts
Owners: @hakatashi, @settyan117

Sync the status of package-lock.json in functions directory
  functions/package-lock.json
Owners: @hakatashi

fix: SonarQube Cloud issueの修正とAGENTS.mdのビルド手順反映
  AGENTS.md
  deploy/block.ts
  deploy/index.ts
Owners: @hakatashi

tahoiya: isMimicryAllowed・スレッド管理改善・メンション追加・テーマ選択アルゴリズム修正
  tahoiya/Tahoiya.ts
  tahoiya/types.ts
  tahoiya/views/collectBettingsMessage.ts
  tahoiya/views/registerThemeModal.ts
  tahoiya/views/submitMeaningModal.ts
Owners: @hakatashi

tahoiya: お題候補再選択・ステータスメッセージ単一化・その他改善
  package-lock.json
  tahoiya/Tahoiya.ts
  tahoiya/types.ts
  tahoiya/views/collectBettingsMessage.ts
  tahoiya/views/collectMeaningsMessage.ts
  tahoiya/views/registerThemeModal.ts
Owners: @hakatashi

fix: セキュリティ脆弱性対応のため依存パッケージをアップデート
  package-lock.json
  package.json
Owners: @hakatashi

fix: @fastify/expressをv2.xに戻す（v4はfastify v5が必要なため）
  package-lock.json
  package.json
Owners: @hakatashi

fix: ts-trueskillとscrape-itをセキュリティアップデート
  lyrics/index.test.ts
  package-lock.json
  package.json
  room-gacha/index.test.ts
Owners: @hideo54, @hakatashi

refactor: テストのaxiosモックをjest.mocked + mockImplementationに変更
  lyrics/index.test.ts
  room-gacha/index.test.ts
Owners: @hideo54

refactor: axiosモックの型アサーションを修正
  lyrics/index.test.ts
  room-gacha/index.test.ts
Owners: @hideo54

fix: fastify v5へのアップグレードと@fastify/expressのCritical脆弱性を修正
  api/index.ts
  index.ts
  lib/logger.ts
  package-lock.json
  package.json
Owners: @hakatashi

fix: pino-std-serializersを直接依存に追加
  package-lock.json
  package.json
Owners: @hakatashi

fix: fastify v5の破壊的変更に対応しasyncプラグインのnextコールバックを除去
  amongyou/index.ts
  google-calendar/index.ts
  nojoin/index.ts
  oogiri/index.ts
  slow-quiz/index.ts
  tsglive/index.ts
  tunnel/index.ts
Owners: @smallkirby, @hakatashi

refactor: 未使用のoptsパラメータを_optsにリネーム
  nojoin/index.ts
  oogiri/index.ts
  slow-quiz/index.ts
  tsglive/index.ts
  tunnel/index.ts
Owners: @hakatashi

fix: セキュリティ脆弱性対応でfirebase-admin, pm2, @octokit/webhooksをアップグレード
  deploy/index.ts
  package-lock.json
  package.json
Owners: @hakatashi
